* {
  margin: 0;
}
.login-page{
  height:auto;
}
.App {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.row-grid{
  border: 1px solid rgb(108, 107, 107);
  border-radius: 0.1cm;
}
.lock-img{
  height:1.5rem;
  opacity:0.5;
  border-radius:0.3rem;
  margin:0;
  padding:0;
}
input{
  margin:0;
  border:none;
  border-left: 1px solid rgb(108, 107, 107);
  border-right: 1px solid rgb(108, 107, 107);
  height: 1cm;
}
.form-select{
  width:90%;
  margin: 0.5rem 1rem 0rem 1rem;
}
.sub-nav{
  border: 1px solid rgb(108, 107, 107);
}
.gate-text{
  color:rgb(9, 9, 69);
}
.login-nav{
  background-color: rgb(108, 107, 107);
}
.whit{
  color:white;
}
.yell{
  color:yellow;
}
.placeholder-img{
  width:70%;
  margin-top:5%;
  border:solid 1px black;
}
.loginform{
  display: grid;
  place-items: center;
}
.card{
  max-width: 30vw;
}
.login-label{
  padding:3px;
  padding-left:1rem;
  margin:0;
  background-color: rgb(225, 225, 225);
}