* {
  margin: 0;
}
body{
  overflow: hidden;
}
.login-page{
  height:auto;
}
.App {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.row-grid{
  border: 1px solid rgb(108, 107, 107);
  border-radius: 0.1cm;
}
.lock-img{
  height:1.5rem;
  opacity:0.5;
  border-radius:0.3rem;
  margin:0;
  padding:0;
}
input{
  margin:0;
  border:none;
  border-left: 1px solid rgb(108, 107, 107);
  border-right: 1px solid rgb(108, 107, 107);
  height: 1cm;
}
.form-select{
  width:90%;
  margin: 0.5rem 1rem 0rem 1rem;
}
.sub-nav{
  border: 1px solid rgb(108, 107, 107);
}
.gate-text{
  color:rgb(9, 9, 69);
}
.login-nav{
  background-color: rgb(108, 107, 107);
}
.whit{
  color:white;
}
.yell{
  color:yellow;
}
.placeholder-img{
  width:70%;
  margin-top:5%;
  border:solid 1px black;
}
.loginform{
  display: grid;
  place-items: center;
}
.card{
  max-width: 30vw;
}
.login-label{
  padding:3px;
  padding-left:1rem;
  margin:0;
  background-color: rgb(225, 225, 225);
}
.modal-backdrop{
  /* Set the background color to transparent */
  background-color: rgba(0, 0, 0, 0) !important;
}


.instruction-body{
  border-right: solid 1px grey;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  overflow: hidden;
}

.instruction-label{
  background-color: #bce8f5;
  padding:0.1cm 0 0.1cm 0.7cm;
  font-weight: 650;
  font-size:1.3rem;
  color: rgb(103, 102, 102);
}
.instruction-student{
  padding:1rem;
  height:100%;
}
.student-img{
  width:10vw;
}
.instruction-text{
  font-family: 'Times New Roman', Times, serif;
  padding-left:5%;
  height:72vh;/*earlier:72vh 2-55*/
  overflow-y:scroll;
}
.instruction-footer{
  border-top:solid 1px grey;
  border-right: solid 1px grey;
  height:14vh;/*earlier:14vh  2-31*/
}

.inlist1{
  list-style-type:decimal;
}
.inlist2{
  list-style-type:lower-alpha;
}
.instruction-subhead{
  transform:translateX(-4%);
  padding-bottom:0.5in;
  padding-top:0.2in;
  font-weight: 700;
  text-decoration:underline;
}
.instruction-head{
  font-size: 1.125rem;
  padding:0.65in;
}

.prevnex{
  height:1.5cm;
  width:3cm;
  background-color: white;
  margin:1.5%;
  margin-left:3%;
  border:1px solid rgb(218, 217, 217);
  font-weight: 600;
}

.prevnex:hover{
  background-color: #0C7CD5;
  border:1px solid #000000;
  color:white;
}
.ready{
  background-color: #38aae9;
  color: white;
  padding:0.2cm;
  padding-right:1cm;
  padding-left:1cm;
  border:none;
  margin-left:25%;
}
.ready:hover{
  background-color: #257dc5;
}
.sign-btn{
  width:90%;
}
.desclaimer{
  font-size:0.3rem;
  color:grey;
}
li{
  padding-top:0.2cm;
}
.declaration{
  font-size:13px;
}
.declaration>input{
  transform: translateY(0.4cm);
  margin-right:0.2cm;
}
.sub-banner{
  background-color: black;
  font-size: 0.8rem;
  padding-left:0.2cm;
  padding-right:0.2cm;
  padding-top:0.05cm;
  padding-bottom:0.1cm;
  height:0.7cm;
}
.subanner-heading{
  color:yellow;
}
.inputbut{
  border: 1px black solid;
  border-radius:0.2cm;
  margin-left:0.1cm;
  margin-right:0.1cm;
  margin-top:0.1cm;
  height:2rem;
  transition: transform 0.1s ease-in-out;
  background-color: rgb(195, 194, 194);
}
.inputbut:hover{
  background-color: rgb(174, 172, 172);
}
.inputbut:active{
    transform: translateY(0.05cm); /* Adjust the value based on how far you want the button to move */
}
.norinp{
  width: 1cm;
  background-color: white;
}
.norinp:hover{
  background-color: rgb(233, 230, 230);
}
.option-text {
  display: flex;
  align-items: center;
 
}
.option-text input{
  margin-right:0.2cm;
}
.nattxtbox{
  margin:0.1cm;
  border-radius: 0.2cm;
  border: 1px solid black;
}

.subanner-question{
  display:'inline';
  color:white;
  font-weight: 600;
}
.subanner-instruction{
  display:'inline';
  color:white;
  font-weight: 600;
  padding-left:0.2cm;
}
.subanner-question:hover,.subanner-instruction:hover{
  text-decoration: underline;
  cursor:pointer;
}
.subanner-instruction>img, .subanner-question>img{
  height:1.1rem;
  padding-right:0.2rem;
  padding-left:0.5rem;
}
.calc-info{
  height:1.1rem;
}
.exam-main{
  border-right:1px solid rgb(184, 183, 183);
  padding:0;
  margin:0;
}

.exam-calculator{
  background-color: rgb(242, 240, 240);
  height:1.3cm;
  width:100%;
  margin:0;
  padding: 0.25cm 0.2cm 0 0.2cm;
}
.calcp{
  justify-items: center;
}
.calc-r-arrow{
  margin-right:0.6cm;
  color: rgb(186, 184, 184);
}
.calc-r-arrow2{
  color: rgb(186, 184, 184);
}
.calc-l-arrow{
  margin-right:0.2cm;
  color: rgb(186, 184, 184);
}
.indiv{
  display: inline;
}
.qtype{
  font-size: 0.9rem;
  font-weight: 640;
}
.qmarks{
  font-size: 0.76rem;
}
.quesno{
  font-weight: 700;
}
.exam-time{
  height:0.6cm;
  padding-left:0.2cm;
}
.exam-section{
  height:1.1cm;
  padding-right:0.35cm;
}
.exam-type{
  height:0.9cm;
  padding-left:0.2cm;
}
.exam-question{
  height:0.8cm;
  padding-left:0.2cm;
}
.exam-section,.exam-question{
  border-top:1px solid rgb(184, 183, 183);
  border-bottom:1px solid rgb(184, 183, 183);
}
.exam-control{
  height:2cm;
  padding-left:0.2cm;
  border-top:1px solid rgb(184, 183, 183);
}
.ctlbtn{
  height:1.2cm;
  border:solid 1px rgb(184, 183, 183);
  margin-top:0.2cm;
  margin-right:0.2cm;
  background-color: #ffffff;
  font-size: 0.95rem;
  padding-left:0.5cm;
  padding-right:0.5cm;
}
.mfr:hover,.cr:hover,.pr:hover{
 background-color: #0C7CD5;
 color:white;
 border:solid 1px black;
}
.sv{
  color:white;
  background-color: #0C7CD5;
}
.sv:hover{
  border:solid 1px black;
}
.firstib{
  border:none;
  background-color: #38A9EB;
  border-radius: 0.1cm;
  padding: 0.1cm 0.1cm 0.15cm 0.15cm;
  color:white;
  
}
.gogab, .gocsb{
  border:none;
  height:100%;
  font-size:0.9rem;
  font-weight:600;
}
.gogab{
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}
.gocsb{
  border-right: solid 1px grey;
}

.exam-sname{
  top:0;
  margin:0.2cm;
  font-weight: 660;
}
.exam-placeholder{
  padding:0;
  margin:0.2cm 0.2cm 0.2cm 0.3cm;
  height:2.5cm;
}
.status-panel{
  height:calc(100vh - 7cm);
  width: 100%;
  border:solid black 2px;
}
.submit-button{
  height:2cm;
}
.exam-right{
  overflow: hidden;
}



.textncontrol{
  height:max-content;
}
.exam-text{
  overflow-y:scroll;
 height:calc(100vh - 8.8cm);  
 width:100%;
}


.secsec{
  font-size:0.85rem;
  font-weight:700;
}