* {
  margin: 0;
}
body{
  overflow: hidden;
}
.login-page{
  height:auto;
}
.App {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.row-grid{
  border: 1px solid rgb(108, 107, 107);
  border-radius: 0.1cm;
}
.lock-img{
  height:1.5rem;
  opacity:0.5;
  border-radius:0.3rem;
  margin:0;
  padding:0;
}
input{
  margin:0;
  border:none;
  border-left: 1px solid rgb(108, 107, 107);
  border-right: 1px solid rgb(108, 107, 107);
  height: 1cm;
}
.form-select{
  width:90%;
  margin: 0.5rem 1rem 0rem 1rem;
}
.sub-nav{
  border: 1px solid rgb(108, 107, 107);
}
.gate-text{
  color:rgb(9, 9, 69);
}
.login-nav{
  background-color: rgb(108, 107, 107);
}
.whit{
  color:white;
}
.yell{
  color:yellow;
}
.placeholder-img{
  width:70%;
  margin-top:5%;
  border:solid 1px black;
}
.loginform{
  display: grid;
  place-items: center;
}
.card{
  max-width: 30vw;
}
.login-label{
  padding:3px;
  padding-left:1rem;
  margin:0;
  background-color: rgb(225, 225, 225);
}


.instruction-body{
  border-right: solid 1px grey;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  overflow: hidden;
}

.instruction-label{
  background-color: #bce8f5;
  padding:0.1cm 0 0.1cm 0.7cm;
  font-weight: 650;
  font-size:1.3rem;
  color: rgb(103, 102, 102);
}
.instruction-student{
  padding:1rem;
  height:100%;
}
.student-img{
  width:10vw;
}
.instruction-text{
  font-family: 'Times New Roman', Times, serif;
  padding-left:5%;
  height:72vh;/*earlier:72vh 2-55*/
  overflow-y:scroll;
}
.instruction-footer{
  border-top:solid 1px grey;
  border-right: solid 1px grey;
  height:14vh;/*earlier:14vh  2-31*/
}

.inlist1{
  list-style-type:decimal;
}
.inlist2{
  list-style-type:lower-alpha;
}
.instruction-subhead{
  transform:translateX(-4%);
  padding-bottom:0.5in;
  padding-top:0.2in;
  font-weight: 700;
  text-decoration:underline;
}
.instruction-head{
  font-size: 1.125rem;
  padding:0.65in;
}

.instruction-footer>button{
  height:1.5cm;
  width:3cm;
  background-color: white;
  margin:2%;
  border:1px solid rgb(218, 217, 217);
  font-weight: 600;
}

.instruction-footer>button:hover{
  background-color: #0C7CD5;
  border:1px solid #000000;
  color:white;
}
.sign-btn{
  width:90%;
}
.desclaimer{
  font-size:0.3rem;
  color:grey;
}
li{
  padding-top:0.2cm;
}
.declaration{
  font-size:13px;
}
.declaration>input{
  transform: translateY(0.4cm);
  margin-right:0.2cm;
}